<div >
<div class="container" >
  <h4>Brought to you by Electrotastic</h4>
  <h2>{{title}}</h2>
  <div class="row">
      <div class="col-md-6 col-lg-6 ">
        <div class="item">
          <div class="game-board-container">
            <ul class="row" *ngFor="let row of puzzle; let rowIndex = index">
              <li
              *ngFor="let item of row; let index = index"
              (click)="itemSelect($event, rowIndex, index)"
              class="item"
              [class.selected]="highlightSelected === rowIndex + '' + index"
              [class.protected]="isProtected(rowIndex, index)"
              [class.error]="errorPuzzle[rowIndex][index] === 'error'"
              [class.correct]="puzzleSolved"
              >
                {{item}}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 ">
        <div class="item game-controls">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 " *ngFor="let item of options">
              <button class="btn btn-primary btn-block"  (click)="optionSelect(item)">{{item}}</button>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
              <button class="btn btn-primary-outline btn-block" [disabled]="!highlightSelected" (click)="clearSelectedAnswer(item)">Clear</button>
            </div>
          </div>
          <div class="row row-bottom">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <button class="btn btn-success-outline btn-block" (click)="submitPuzzle()">SUBMIT</button>
              <div class="radio">
                <label>
                  <input type="radio" [ngModel]="{checked: difficulty == 'easy'}" (change)="difficulty=$event.target.value"  name="difficulty" value="easy" checked>
                  Easy
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" [ngModel]="{checked: difficulty == 'medium'}" (change)="difficulty=$event.target.value"  name="difficulty" value="medium">
                  Medium
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" [ngModel]="{checked: difficulty == 'hard'}" (change)="difficulty=$event.target.value"  name="difficulty" value="hard">
                  Hard
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" [ngModel]="{checked: difficulty == 'very-hard'}" (change)="difficulty=$event.target.value"  name="difficulty" value="very-hard">
                  Very Hard
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" [ngModel]="{checked: difficulty == 'insane'}" (change)="difficulty=$event.target.value"  name="difficulty" value="insane">
                  Insane
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" [ngModel]="{checked: difficulty == 'inhuman'}" (change)="difficulty=$event.target.value"  name="difficulty" value="inhuman">
                  Inhuman
                </label>
              </div>
              <button class="btn btn-primary btn-danger-outline btn-block btn-sm" (click)="newGame()">NEW GAME</button>

              <button class="btn btn-primary btn-secondary-outline btn-block btn-sm" (click)="cheat()">Cheat</button>
            </div>
          </div>
          <div *ngIf="puzzleSolved">
            <h2>CORRECT!!!</h2>
          </div>
        </div>
      </div>
  </div>



</div>
</div>
